---
import '../../styles/global.css'
import LanguageSwitcher from '../../../components/LanguageSwitcher.astro'
import { i18nConfig } from '../../../i18n.config'
import { t } from '../../../translations'

const lang = Astro.url.pathname.split('/')[1] as typeof i18nConfig.locales[number]
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>{t(lang, 'home_page_title')}</h1>
    <LanguageSwitcher client:load currentLang={lang} />
  </body>
</html>
