---
import type { Locale } from '~/i18n.config'
import { i18nConfig } from '~/i18n.config'

const { currentLang } = Astro.props as { currentLang: Locale }
---

<div class="relative inline-block text-left" id="lang-dropdown">
  <button
    id="lang-button"
    class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white
    text-sm font-medium text-graymemor-700 hover:bg-gray-50"
  >
    {currentLang.toUpperCase()}
    <span class="ml-2">▼</span>
  </button>

  <div
    id="lang-options"
    class="absolute mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden z-10">
    {i18nConfig.locales.map((lang) => (
      <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" data-lang={lang}>
        {lang.toUpperCase()}
      </div>
    ))}
  </div>
</div>

<script src="../components/LanguageSwitcher.ts" />
